<footer class="footer">
  <div class="footer-content">
    <div class="footer-logo">
      <img src="https://www.theparkingspot.com/public-web-ng2/dist/assets/images/logo.png" alt="Logo da Empresa">
    </div>
    <div class="footer-links">
      <ul>
        <li><a href="#">Termos de Serviço</a></li>
        <li><a href="#">Política de Privacidade</a></li>
        <li><a href="#">Perguntas Frequentes</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </div>
    <div class="footer-social">
      <a href="#"><img src="https://www.gov.br/mre/pt-br/delbrasupa/facebook-logo-blue-circle-large-transparent-png.png" alt="Facebook"></a>
      <a href="#"><img src="https://static.vecteezy.com/system/resources/previews/016/716/467/original/twitter-icon-free-png.png" alt="Twitter"></a>
      <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/5/58/Instagram-Icon.png" alt="Instagram"></a>
    </div>
  </div>
</footer>
